In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

We've talked about Random Forests. Now it's time to build one.

Here we'll use data from Lending Club to predict the state of a loan given some information about it. You can find the dataset [here](https://www.lendingclub.com/info/download-data.action). We'll use 2015 data. ([Thinkful mirror](https://www.dropbox.com/s/m7z42lubaiory33/LoanStats3d.csv?dl=0))

In [2]:
# Replace the path with the correct path for your data.
y2015 = pd.read_csv(
    'C:/Users/Carter Carlson/Documents/Thinkful/Large Databases/Loan Data.csv',
    skipinitialspace=True,
    header=1
)

# Note the warning about dtypes.

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## The Blind Approach

Now, as we've seen before, creating a model is the easy part. Let's try just using everything we've got and throwing it without much thought into a Random Forest. SKLearn requires the independent variables to be be numeric, and all we want is dummy variables so let's use `get_dummies` from Pandas to generate a dummy variable for every categorical colummn and see what happens off of this kind of naive approach.

In [ ]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)

cross_val_score(rfc, X, Y, cv=5)

Did your kernel die? My kernel died.

Guess it isn't always going to be that easy...

Can you think of what went wrong?

(You're going to have to reset your kernel and reload the column, BUT DON'T RUN THE MODEL AGAIN OR YOU'LL CRASH THE KERNEL AGAIN!)

## Data Cleaning

Well, `get_dummies` can be a very memory intensive thing, particularly if data are typed poorly. We got a warning about that earlier. Mixed data types get converted to objects, and that could create huge problems. Our dataset is about 400,000 rows. If there's a bad type there its going to see 400,000 distinct values and try to create dummies for all of them. That's bad. Lets look at all our categorical variables and see how many distinct counts there are...

In [4]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
3
term
2
int_rate
394
grade
7
sub_grade
35
emp_title
30658
emp_length
11
home_ownership
5
verification_status
3
issue_d
55
loan_status
4
pymnt_plan
1
desc
28963
purpose
14
title
21264
zip_code
837
addr_state
50
earliest_cr_line
530
revol_util
1119
initial_list_status
1
last_pymnt_d
112
next_pymnt_d
98
last_credit_pull_d
130
application_type
1
hardship_flag
1
disbursement_method
1
debt_settlement_flag
2
debt_settlement_flag_date
60
settlement_status
3
settlement_date
61

Well that right there is what's called a problem. Some of these have over a hundred thousand distinct types. Lets drop the ones with over 30 unique values, converting to numeric where it makes sense. In doing this there's a lot of code that gets written to just see if the numeric conversion makes sense. It's a manual process that we'll abstract away and just include the conversion.

You could extract numeric features from the dates, but here we'll just drop them. There's a lot of data, it shouldn't be a huge problem.

In [5]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

Wonder what was causing the dtype error on the id column, which _should_ have all been integers? Let's look at the end of the file.

In [6]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
42533,NaN,NaN,2525.0,2525.0,225.0,36 months,9.33,80.69,B,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42534,NaN,NaN,6500.0,6500.0,0.0,36 months,8.38,204.84,A,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42535,NaN,NaN,5000.0,5000.0,0.0,36 months,7.75,156.11,A,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

Now this should be better. Let's try again.

In [8]:
pd.get_dummies(y2015)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,settlement_date_Nov-2013,settlement_date_Nov-2014,settlement_date_Oct-2011,settlement_date_Oct-2012,settlement_date_Oct-2013,settlement_date_Oct-2014,settlement_date_Sep-2012,settlement_date_Sep-2013,settlement_date_Sep-2014,settlement_date_Sep-2016
0,NaN,NaN,5000.0,5000.0,4975.000000,10.65,162.87,24000.00,27.65,0.0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,2500.0,2500.0,2500.000000,15.27,59.83,30000.00,1.00,0.0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,2400.0,2400.0,2400.000000,15.96,84.33,12252.00,8.72,0.0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,10000.0,10000.0,10000.000000,13.49,339.31,49200.00,20.00,0.0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,3000.0,3000.0,3000.000000,12.69,67.79,80000.00,17.94,0.0,...,0,0,0,0,0,0,0,0,0,0
5,NaN,NaN,5000.0,5000.0,5000.000000,7.90,156.46,36000.00,11.20,0.0,...,0,0,0,0,0,0,0,0,0,0
6,NaN,NaN,7000.0,7000.0,7000.000000,15.96,170.08,47004.00,23.51,0.0,...,0,0,0,0,0,0,0,0,0,0
7,NaN,NaN,3000.0,3000.0,3000.000000,18.64,109.43,48000.00,5.35,0.0,...,0,0,0,0,0,0,0,0,0,0
8,NaN,NaN,5600.0,5600.0,5600.000000,21.28,152.39,40000.00,5.55,0.0,...,0,0,0,0,0,0,0,0,0,0
9,NaN,NaN,5375.0,5375.0,5350.000000,12.69,121.45,15000.00,18.08,0.0,...,0,0,0,0,0,0,0,0,0,0
10,NaN,NaN,6500.0,6500.0,6500.000000,14.65,153.45,72000.00,16.12,0.0,...,0,0,0,0,0,0,0,0,0,0
11,NaN,NaN,12000.0,12000.0,12000.000000,12.69,402.54,75000.00,10.78,0.0,...,0,0,0,0,0,0,0,0,0,0
12,NaN,NaN,9000.0,9000.0,9000.000000,13.49,305.38,30000.00,10.08,0.0,...,0,0,0,0,0,0,0,0,0,0
13,NaN,NaN,3000.0,3000.0,3000.000000,9.91,96.68,15000.00,12.56,0.0,...,0,0,0,0,0,0,0,0,0,0
14,NaN,NaN,10000.0,10000.0,10000.000000,10.65,325.74,100000.00,7.06,0.0,...,0,0,0,0,0,0,0,0,0,0
15,NaN,NaN,1000.0,1000.0,1000.000000,16.29,35.31,28000.00,20.31,0.0,...,0,0,0,0,0,0,0,0,0,0
16,NaN,NaN,10000.0,10000.0,10000.000000,15.27,347.98,42000.00,18.60,0.0,...,0,0,0,0,0,0,0,0,0,0
17,NaN,NaN,3600.0,3600.0,3600.000000,6.03,109.57,110000.00,10.52,0.0,...,0,0,0,0,0,0,0,0,0,0
18,NaN,NaN,6000.0,6000.0,6000.000000,11.71,198.46,84000.00,18.44,2.0,...,0,0,0,0,0,0,0,0,0,0
19,NaN,NaN,9200.0,9200.0,9200.000000,6.03,280.01,77385.19,9.86,0.0,...,0,0,0,0,0,0,0,0,0,0
20,NaN,NaN,20250.0,20250.0,19142.161077,15.27,484.63,43370.00,26.53,0.0,...,0,0,0,0,0,0,0,0,0,0
21,NaN,NaN,21000.0,21000.0,21000.000000,12.42,701.73,105000.00,13.22,0.0,...,0,0,0,0,0,0,0,0,0,0
22,NaN,NaN,10000.0,10000.0,10000.000000,11.71,330.76,50000.00,11.18,0.0,...,0,0,0,0,0,0,0,0,0,0
23,NaN,NaN,10000.0,10000.0,10000.000000,11.71,330.76,50000.00,16.01,0.0,...,0,0,0,0,0,0,0,0,0,0
24,NaN,NaN,6000.0,6000.0,6000.000000,11.71,198.46,76000.00,2.40,0.0,...,0,0,0,0,0,0,0,0,0,0
25,NaN,NaN,15000.0,15000.0,15000.000000,9.91,483.38,92000.00,29.44,0.0,...,0,0,0,0,0,0,0,0,0,0
26,NaN,NaN,15000.0,15000.0,8725.000000,14.27,514.64,60000.00,15.22,0.0,...,0,0,0,0,0,0,0,0,0,0
27,NaN,NaN,5000.0,5000.0,5000.000000,16.77,123.65,50004.00,13.97,3.0,...,0,0,0,0,0,0,0,0,0,0
28,NaN,NaN,4000.0,4000.0,4000.000000,11.71,132.31,106000.00,5.63,1.0,...,0,0,0,0,0,0,0,0,0,0
29,NaN,NaN,8500.0,8500.0,8500.000000,11.71,281.15,25000.00,12.19,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42506,NaN,NaN,6725.0,6725.0,825.000000,13.12,226.98,60000.00,13.16,0.0,...,0,0,0,0,0,0,0,0,0,0
42507,NaN,NaN,2000.0,2000.0,1025.000000,12.80,67.20,10000.00,3.48,1.0,...,0,0,0,0,0,0,0,0,0,0
42508,NaN,NaN,6000.0,6000.0,1200.000000,13.12,202.51,12000.00,4.40,0.0,...,0,0,0,0,0,0,0,0,0,0
42509,NaN,NaN,5350.0,5350.0,625.000000,13.12,180.57,4000.00,15.00,0.0,...,0,0,0,0,0,0,0,0,0,0
42510,NaN,NaN,1900.0,1900.0,900.000000,9.64,61.00,100000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,0,0
42511,NaN,NaN,10000.0,10000.0,350.000000,14.70,345.18,50000.00,7.22,2.0,...,0,0,0,0,0,0,0,0,0,0
42512,NaN,NaN,2000.0,2000.0,1275.000000,7.12,61.87,150000.00,5.60,0.0,...,0,0,0,0,0,0,0,0,0,0
42513,NaN,NaN,6000.0,6000.0,650.000000,10.59,195.28,20000.00,12.90,0.0,...,0,0,0,0,0,0,0,0,0,0
42514,NaN,NaN,4400.0,4400.0,1400.000000,9.64,141.25,30000.00,3.72,0.0,...,0,0,0,0,0,0,0,0,0,0
42515,NaN,NaN,1200.0,1200.0,500.000000,9.01,38.17,36000.00,3.27,NaN,...,0,0,0,0,0,0,0,0,0,0
42516,NaN,NaN,5000.0,5000.0,375.000000,11.22,164.23,28000.00,3.51,NaN,...,0,0,0,0,0,0,0,0,0,0
42517,NaN,NaN,1400.0,1400.0,475.000000,10.91,45.78,40000.00,8.61,NaN,...,0,0,0,0,0,0,0,0,0,0
42518,NaN,NaN,1000.0,1000.0,625.000000,14.07,34.21,25000.00,16.27,NaN,...,0,0,0,0,0,0,0,0,0,0
42519,NaN,NaN,5000.0,5000.0,300.000000,7.75,156.11,300000.00,5.38,NaN,...,0,0,0,0,0,0,0,0,0,0
42520,NaN,NaN,2500.0,2500.0,225.000000,7.43,77.69,66624.00,10.36,NaN,...,0,0,0,0,0,0,0,0,0,0
42521,NaN,NaN,3000.0,3000.0,250.000000,7.43,93.23,80000.00,0.39,NaN,...,0,0,0,0,0,0,0,0,0,0
42522,NaN,NaN,2600.0,2600.0,575.000000,8.38,81.94,6500.00,6.46,NaN,...,0,0,0,0,0,0,0,0,0,0
42523,NaN,NaN,1000.0,1000.0,625.000000,7.12,30.94,50000.00,1.10,NaN,...,0,0,0,0,0,0,0,0,0,0
42524,NaN,NaN,1275.0,1275.0,0.000000,12.49,42.65,40000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,0,0
42525,NaN,NaN,6450.0,6450.0,0.000000,11.22,211.85,32000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,0,0
42526,NaN,NaN,10500.0,10500.0,275.000000,11.22,344.87,60000.00,19.50,NaN,...,0,0,0,0,0,0,0,0,0,0
42527,NaN,NaN,3000.0,3000.0,125.000000,9.01,95.42,35000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,0,0
42528,NaN,NaN,3000.0,3000.0,0.000000,9.33,95.86,20000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,0,0
42529,NaN,NaN,2000.0,2000.0,225.000000,9.96,64.50,6000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,0,0
42530,NaN,NaN,6500.0,6500.0,0.000000,9.64,208.66,20000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,0,0
42531,NaN,NaN,3500.0,3500.0,225.000000,10.28,113.39,180000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,0,0
42532,NaN,NaN,1000.0,1000.0,0.000000,9.64,32.11,12000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,0,0
42533,NaN,NaN,2525.0,2525.0,225.000000,9.33,80.69,110000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,0,0
42534,NaN,NaN,6500.0,6500.0,0.000000,8.38,204.84,NaN,4.00,NaN,...,0,0,0,0,0,0,0,0,0,0
42535,NaN,NaN,5000.0,5000.0,0.000000,7.75,156.11,70000.00,8.81,NaN,...,0,0,0,0,0,0,0,0,0,0

It finally works! We had to sacrifice sub grade, state address and description, but that's fine. If you want to include them you could run the dummies independently and then append them back to the dataframe.

## Second Attempt

Now let's try this model again.

We're also going to drop NA columns, rather than impute, because our data is rich enough that we can probably get away with it.

This model may take a few minutes to run.

In [9]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

TypeError: '<' not supported between instances of 'str' and 'float'

The score cross validation reports is the accuracy of the tree. Here we're about 98% accurate.

That works pretty well, but there are a few potential problems. Firstly, we didn't really do much in the way of feature selection or model refinement. As such there are a lot of features in there that we don't really need. Some of them are actually quite impressively useless.

There's also some variance in the scores. The fact that one gave us only 93% accuracy while others gave higher than 98 is concerning. This variance could be corrected by increasing the number of estimators. That will make it take even longer to run, however, and it is already quite slow.